<!DOCTYPE html>
<html>
  <head>
    <title>Personal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      * {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
      }
    </style>

    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>

  </head>

  <body style="margin: 0px; background-color: blue; color: white;">
    <%= yield %>
  </body>
</html>
